<!DOCTYPE html>
<html>
<head>
  <title>Bem-vindo</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_home.css">
</head>
<body>
  <nav>
    <a href="/logout" style="color: #fff;" class="logout-link">Sair</a>
  </nav>
  <div class="container">
    <h1>Bem-vindo, <%= username %>!</h1>
    <div class="button-container">
      <a href="/products" class="button">Produtos</a>
      <a href="/lancamentos" class="button">Lançamentos</a>
    </div>
  </div>
</body>
</html>