<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lançar Entrada</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_form_prod.css">
  <link rel="stylesheet" type="text/css" href="/styles_termo.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  <nav>
    <a href="/lancamentos" style="color: #fff;" class="voltar-link">Voltar</a>
  </nav>
  <div class="container">
    <h1>Entrada</h1>

    <% if (messages && messages.error && messages.error.length > 0) { %>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const errorMessage = '<%= messages.error.join("<br>") %>';
          Swal.fire({
            icon: 'error',
            title: 'Erro',
            html: errorMessage,
            customClass: {
              popup: 'custom-swal-popup',
              title: 'custom-swal-title',
              content: 'custom-swal-content',
            },
            heightAuto: false,
            onOpen: () => {
              const modalElement = document.querySelector('.swal-toast-container');
              if (modalElement) {
                modalElement.addEventListener('click', () => {
                  Swal.close();
                });

                document.addEventListener('keydown', (event) => {
                  if (event.key === 'Enter') {
                    Swal.close();
                  }
                });
              }
            },
          });
        });
      </script>
    <% } %>  

    <form action="/lancamentos/entrada" method="POST">
      <div class="form-group">
        <label for="prod_name">Nome do Produto:</label>
        <input type="text" id="prod_name" name="prod_name" required oninput="buscarProdutos()" autocomplete="off">
        <div id="sugestoes" class="sugestoes"></div>
      </div>

      <div class="form-group">
        <label for="lanc_qtd">Quantidade:</label>
        <input type="number" id="lanc_qtd" name="lanc_qtd" step="any" required min="0.1">
      </div>

      <div class="form-group">
        <label for="lanc_vencimento">Data de Vencimento:</label>
        <input type="date" id="lanc_vencimento" name="lanc_vencimento">
      </div>

      <button type="submit" class="button">Lançar</button>
    </form>
  </div>

  <style>
    /* Adicione essas regras de estilo diretamente ao código */
    .custom-swal-popup {
      max-width: 500px;
      margin: auto;
    }

    .custom-swal-title {
      margin-bottom: 10px;
    }

    .custom-swal-content {
      text-align: center; /* Centraliza o texto */
    }
  </style>

  <script>
    const inputProduto = document.getElementById('prod_name');
    const sugestoes = document.getElementById('sugestoes');

    function buscarProdutos() {
      sugestoes.innerHTML = '';

      if (inputProduto.value.trim() !== '') {

        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            const produtos = JSON.parse(xhr.responseText);

            produtos.forEach(produto => {
              const sugestao = document.createElement('div');
              sugestao.textContent = produto.prod_name;
              sugestao.classList.add('sugestoes-item');

              sugestao.addEventListener('click', function() {
                inputProduto.value = produto.prod_name;
                sugestoes.innerHTML = ''; 
              });

              sugestao.addEventListener('mouseover', function() {
                inputProduto.value = produto.prod_name;
              });

              sugestoes.appendChild(sugestao);
            });
          }
        };
        xhr.open('GET', `/buscar-produtos?termo=${inputProduto.value}`, true);
        xhr.send();
      }
    }
  </script>
</body>
</html>
