<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Lançamentos</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_list_bt.css">
</head>
<body>
  <nav>
    <a href="/index?username=<%= username %>" style="color: #fff;" class="logout-link">Voltar</a>
  </nav>
  <div class="container">
    <h1>Lançamentos</h1>
    <div class="button-container">
      <a href="/lancamentos/lancar-entrada" class="button">Entrada</a>
      <a href="/lancamentos/lancar-saida" class="button">Saída</a>
    </div>
  </div>
</body>
</html>