<!DOCTYPE html>
<html>
<head>
  <title>Página de Produtos</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_list_bt.css">
</head>
<body>
  <nav>
    <a href="/index?username=<%= username %>" style="color: #fff;" class="voltar-link">Voltar</a>
  </nav>
  <div class="container">
    <h1>Página de Produtos</h1>
    <div class="button-container">
      <a href="/cadastrar-produto" class="button">Cadastrar Produto</a>
      <a href="/alterar-produto"   class="button">Alterar Produto</a>
      <a href="/lista-de-produtos" class="button">Lista de Produtos</a>
    </div>
  </div>
</body>
</html>